#play_area{
    height: 100%;
    margin: 25px;
}
#input_area{
    height: 40%;
    margin: 1em;
}
#output_area{
    height: 10%;
    margin: auto;
    padding: auto;
}
#outputlist_area{
    height: 50%;
}
#outputlist{
    height: 100%;
    width: 95%;
    margin: 0 auto ;
    overflow: auto;
}

#input_table{
    height: 100%;
    width: 100%;
}

.input_click{
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height:150px;
    background-color: bisque;
    color: rgb(110, 78, 17);
    font-size: 72px;
    text-align: center;
    line-height:150px;
}
#delete_but{
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height:150px;
    background-color: bisque;
    color: rgb(110, 78, 17);
    font-size:60px;
    text-align: center;
    line-height:150px;
}
#submit_but{
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height:150px;
    background-color: bisque;
    color: rgb(110, 78, 17);
    font-size: 60px;
    text-align: center;
    line-height:150px;
}
.outnum{ 
    height:  200px;
    width: 200px;
    margin: auto;
    float: left;
    font-size: 108px;
    text-align: center;
    border-radius: 50%;
    border-color: bisque;
    color: rgb(110, 78, 17);
    border: 1.25vw solid burlywood;
    line-height:200px;
}

html{
    background-color: ivory;
}
body{
    height: 100%;
}

